
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@800&family=Righteous&display=swap');

body {
    margin:0;
    /*font-family: lato;*/
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~HEADER~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
header{
    position: fixed;
    width: 100%;
}
.navbar {
    background-color: #FFD284;
    padding: 10px 10px;
    display: flex;
    align-items: center;
  
   
}

.navbar .logo {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 30.48px;
    text-align: left;
    color: #333333;;
}

.navbar .logo span {
    color: #F4A261;
}

.navbar .menu {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.navbar .menu a {
    margin: 0 15px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #333333;
}

.navbar .menu .register {
    border: 4px solid #FFA101;
    padding: 5px 10px;
    border-radius: 5px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~HOME~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#home {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 40px;
    
}

.container {
    text-align: left;
    margin-left: 20px;
    width: 60%;
}

.container h1 {
    font-family: 'Lato', sans-serif;
    font-size: 70px;
    font-weight: 800;
    line-height: 100px;
    color: #333;
    margin: 0;
}

.container h1 .highlight-orange {
    color: #f7931e;
}

.container h1 .highlight-black {
    color: #333;
}

.container p {
    font-family: 'Righteous', sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 39px;
    text-align: left;
    color: #666666;
    margin: 10px 0 20px;
}

.buttons {
    display: flex;
    justify-content: left;
    gap: 40px;
}

.buttons a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 13px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

.buttons .promo {
    background-color: #333;
    color: #FFA101;
}

.buttons .orders {
    background-color: #f7931e;
    color: #333333;
}
#image{
    
    display: flex;
    justify-content: center;
    width: 40%;
    background-image: url(/front-end/IMAGENES\ BUEN\ SABOR/MAIN/fondo.png);
    background-size: cover; /* La imagen cubrirá todo el contenedor */
    background-position: center; /* La imagen estará centrada */
    background-size: 100%;
    overflow: hidden;
    background-repeat: no-repeat;   
    align-items: center;
   
    
 
   
}

#pizza2 {
    
    height: 450px;
    width: 450px;
   
    
}

.word-main {
    font-family:" Lato";
}

.word-black {
    color: #333333;
}

.word-orange {
    color: #FFA101
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~POPULAR~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#popular{
    display: flex;
    flex-direction: column;   
    padding:50px 0px;
}

#popular h5 {
    font-family: 'Righteous', sans-serif;
}

#popular h2 {
    font-family: 'Righteous', sans-serif;
    margin-left: 75px;
}

#container-pop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.product-pop {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFD184;
    border-radius: 10px;
    height: 100%;
    width: 190px;
}

.product-pop img {
    background-color: #FFD184;
    width:100% ;
    height:150px ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#reloj {
    width: 12px;
    height: 12px;
}

.add-car {
    display: flex;
    flex-direction: row ;
    width: 100%;
    justify-content: space-between;
}

.name-food {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
    font-size: 20px;
}

#time {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#time p{
    font-size: 13px;
    
}

.description-pop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.description-pop img {
    width: 90px;
    height: 20px;
}

.button-to-cart {
    display: inline;
    font-size: 13px;
    color: #FFA101;
    background: none;
    border: none;
    cursor: pointer;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CATEGORY~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#categories {
    padding:50px 0px;
    display: flex;
    flex-direction: column;   

}
#container-cat {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#categories h2{
    font-family: 'Righteous', sans-serif;
    margin-left: 75px;
}
.product-cat {
    display: flex;
    flex-direction: column;
    width: 190px;
    height: 205px;
}

.product-cat img {
    width: 100%;
    height: 80%;
    border-radius: 0%;
}

.description-cate {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    margin-top: -5px;
    color: #FFA101;
    height: 40px;
    font-size: 25PX;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ABOUT-US~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#about-us{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0px;
    justify-content: space-around;


}
#about-us h2{
    font-family: 'Righteous', sans-serif;
 
}
#about-us img{
    width: 270px;
    height: 270px;
    background-color:rgba(255, 161, 1, 0.8);;
    border-radius: 50%;
    padding: 12px
}
#description-about-us{
    display: flex;
    flex-direction: column;
    width:  650px;
    font-family: "Lato";
    color:#000000
}
#description-about-us p{
    font-size: 18px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~FOOTER~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

footer {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    padding:50px 0px;
}
#footer-name{
    display: flex;
    flex-direction: column;
    
  
}
#footer-name p{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat Alternates';
    font-weight: bold;
    color:#FFFFFF ;
}
#footer-name p span{
    color: #F4A261;
}
#container-contact{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    color:#FFFFFF ;
    font-family: "Lato";
}

.contact img{
    width: 30px;
    height: 30px;
}